.trending {
  position: relative;
}

.trending__sushi,
.trending__drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.trending__content,
.trending__image {
  padding: 36px;
  min-height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trending__content {
  flex: 1;
}

.trending__image {
  flex: 1;
  background-color: #fff;
}

.trending__image img {
  width: 254px;
  height: 260px;
  align-self: center;

  object-fit: contain;
}

.trending__image-sushi {
  background-image: url('../../assets/japanese_sushi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.trending__image-drinks {
  background-image: url('../../assets/japanese_drinks.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.trending__discover {
  position: absolute;
  bottom: -12.5%;
  left: 44%;
  z-index: 1;

  text-transform: uppercase;
  font-family: var(--plus-jakarta-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  width: 160px;
  height: 160px;
  padding: 12px;

  border: none;
  outline: none;
  background-color: var(--black-200);
  color: #fff;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.trending__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.trending__list-item {
  display: flex;
  align-items: center;
  min-width: 200px;
  margin-bottom: 24px;
}

.trending__list-item img {
  width: 24px;
  height: 24px;

  background-color: var(--primary-color);
  padding: 4px;

  margin-right: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.trending__list-item p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}
